<div>
  <%= f.label :first_name, style: "display: block" %>
  <%= f.text_field :first_name %>
</div>

<div>
  <%= f.label :last_name, style: "display: block" %>
  <%= f.text_field :last_name %>
</div>

<div>
  <%= f.label :birth, style: "display: block" %>
  <%= f.date_select :birth, { start_year: Date.today.year, end_year: Date.today.year - 122} %>
</div>

<div>
  <%= f.label :sex, style: "display: block" %>
  <%= f.radio_button :sex, 'Male' %>
  <%= f.label :sex, 'Male' %>
  <%= f.radio_button :sex, 'Female' %>
  <%= f.label :sex, 'Female' %>
</div>

<div>
  <%= f.label :work_id, style: "display: block" %>
  <%= f.select :work_id, Work.all.collect { |work| [work.title, work.id] }, { selected: @user.work_id, include_blank: '-Select work-' } %>
</div>

<div>
  <%= f.label :yourself, style: "display: block" %>
  <%= f.text_area :yourself %>
</div>

<div>
  <%= f.label :hobbies, style: "display: block" %> 
  <div class="hobbies">
  <%= f.collection_check_boxes(:hobby_ids, Hobby.all, :id, :title, {}, multiple: true) %>
  </div> 
</div>

<div class="hidden-item">
  <%= f.label :latitude, style: "display: block" %>
  <%= f.text_field :latitude %>
</div>

<div class="hidden-item">
  <%= f.label :longitude, style: "display: block" %>
  <%= f.text_field :longitude %>
</div>

<div>
  <%= f.label :foto, style: "display: block" %>
  <%= f.file_field :foto, multiple: true, class: 'add-foto-form action-button shadow animate red' %>
</div>