<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Foto:</strong>  
  </p>
  
  <div id="carouselExampleInterval-main" class="carousel slide carousel-dark"      data-interval="false">
      <div class="carousel-inner">
        <% user.foto.each_with_index do |foto, index| %>
        <%active = index == 0? "active" : ""%>
        <div class="carousel-item <%=active%>" >
          <%= image_tag foto, class: "carousel-foto"%>
        </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval-main" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval-main" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
  </div>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= user.sex %>
  </p>

  <p>
    <strong>Work:</strong>
    <% unless user.work.nil? %>
      <%= user.work.title %>
    <% end %>
  </p>

  <p>
    <strong>Yourself:</strong>
    <%= user.yourself %>
  </p>

  <p>
    <strong>Hobbies:</strong>
    <% if user.hobbies != [] %>
      <% user.hobbies.each do |hobby| %>
        <% if user.hobbies.last == hobby %>
          <%= "#{hobby.title}" %>
        <% else %>
          <%= "#{hobby.title}, " %>
        <% end %>
      <% end %> 
    <% end %>
  </p>  

  <p class="hidden-item">
    <strong>Latitude:</strong>
    <%= user.latitude %>
  </p>

  <p class="hidden-item">
    <strong>Longitude:</strong>
    <%= user.longitude %>
  </p>
  
</div>
